@import '~style/helpers';

.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.budgetInput{
  input{
    font-size: inherit;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 0px;
    border-style: none;
    border-color: transparent;
    border-image: none;
    background: transparent;
  }
}
