@import '~style/helpers';

.item {
  display: block;
  box-sizing: border-box;

  ul{
    list-style-type: none;
    -webkit-padding-start:0;
    
    li{
      margin: 5px;
    }
  }

  button{
    border-radius: 2em;
    padding: 3px;
    margin: 0 10px;
    background-color: #125bff5e;
  }
	
	h5 {
    margin: 0;
    display: inline;
    margin-right: 10px;
		color: #000;
  }
  div{
    display: inline-block;
  }
}
.price {
  margin-right: 10px;
}

.quantity {
  display: inline-block;
  float: right;
}